# Task 4.7: Deriving New Variables

## Importing Libraries & pickle file

In [1]:
import pandas as pd
import numpy as np
import os

In [6]:
path = r'C:\Users\RUZANNA\OneDrive\Desktop\Careerfoundry\Python\Instacart Basket Anlysis-05.2023\02_Data'

In [10]:
ords_prods_merged = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged_4.7.pkl'))

## Step 1
### Cheking dimensions of imported dataframe

In [11]:
ords_prods_merged.shape

(32404859, 17)

In [12]:
ords_prods_merged.head(1)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists,busiest_day,price_range_loc
0,2398795,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,Soda,77,7,9.0,both,Regularly busy,Mid range product

# Step 2

In [13]:
ords_prods_merged['orders_day_of_week'].value_counts(dropna= False)

0.0    5779087
1.0    5303718
6.0    4190948
5.0    3952326
2.0    3947564
3.0    3600589
4.0    3554531
NaN    2076096
Name: orders_day_of_week, dtype: int64

In [29]:
result = []

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0 or value == 1:
    result.append("Busiest days")
  else:
    result.append("Non busiest days")

In [31]:
ords_prods_merged['Busiest days'] = result

In [30]:
result_slowest = []

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 4 or value == 3:
    result_slowest.append("Slowest days")
  else:
    result_slowest.append("Non slowest days")

In [32]:
ords_prods_merged['Slowest days'] = result_slowest

## Step 3
### checking the values

In [33]:
ords_prods_merged.head(2)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists,busiest_day,price_range_loc,Busiest days,Slowest days
0,2398795,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,Soda,77,7,9.0,both,Regularly busy,Mid range product,Non busiest days,Slowest days
1,473747,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,Soda,77,7,9.0,both,Regularly busy,Mid range product,Non busiest days,Slowest days

In [34]:
ords_prods_merged['Busiest days'].value_counts(dropna= False)

Non busiest days    21322054
Busiest days        11082805
Name: Busiest days, dtype: int64

In [35]:
ords_prods_merged['Slowest days'].value_counts(dropna= False)

Non slowest days    25249739
Slowest days         7155120
Name: Slowest days, dtype: int64

## Step 4 - Create a new column 'busiest_period_of_day'

#### Checking the frequency of 'order_hour_of_day' column
ords_prods_merged['order_hour_of_day'].value_counts(dropna= False)

In [41]:
ords_prods_merged['order_hour_of_day'].value_counts(dropna= False)

10.0    2593725
11.0    2564597
14.0    2517238
15.0    2487586
13.0    2487500
12.0    2445841
16.0    2364969
9.0     2311334
NaN     2076096
17.0    1943858
8.0     1622394
18.0    1520954
19.0    1169224
20.0     910005
7.0      844665
21.0     746254
22.0     592432
23.0     375889
6.0      274801
0.0      203460
1.0      108110
5.0       82706
2.0       63961
4.0       49400
3.0       47860
Name: order_hour_of_day, dtype: int64

In [40]:
result_hour = []

for value in ords_prods_merged["order_hour_of_day"]:
  if value == 10.0 or value == 11.0 or value ==14.0 or value ==15.0 or value ==13.0:
    result_hour.append("Most orders")
  elif value == 12.0 or value == 16.0 or value ==9.0 or value ==17.0 or value ==8.0 or value ==18.0 or value ==19.0:
    result_hour.append("Average orders")
  else:
    result_hour.append("Fewest order")

In [38]:
ords_prods_merged["busiest_period_of_day"] = result_hour

In [45]:
ords_prods_merged.head(2)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists,busiest_day,price_range_loc,Busiest days,Slowest days,busiest_period_of_day
0,2398795,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,Soda,77,7,9.0,both,Regularly busy,Mid range product,Non busiest days,Slowest days,Fewest order
1,473747,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,Soda,77,7,9.0,both,Regularly busy,Mid range product,Non busiest days,Slowest days,Average orders

## Step 5- Print the frequency of 'busiest_period_of_day' column

In [43]:
ords_prods_merged['busiest_period_of_day'].value_counts(dropna= False)

Average orders    13378574
Most orders       12650646
Fewest order       6375639
Name: busiest_period_of_day, dtype: int64

## Step 7- Exporting dataframe as a pickle file

In [46]:
ords_prods_merged.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged_4.7.pkl'))

In [47]:
# checking the dimension of an updated dataframe
ords_prods_merged.shape

(32404859, 20)