# Task 4.6 Combining & Exporting Data

## Importing Libraries

In [17]:
import pandas as pd
import numpy as np
import os

## Step 3  Importing Dataframe (pickle file)

In [18]:
path =r'C:\Users\RUZANNA\OneDrive\Desktop\Careerfoundry\Python\Instacart Basket Anlysis-05.2023\02_Data'

In [19]:
# Importing orders_products_prior Dataframe
orders_products_combined = pd.read_pickle(os.path.join (path, 'Prepared Data', 'orders_products_combined.pkl'))

## Step 4

In [20]:
# checking the dimensions
orders_products_combined.shape

(32640698, 10)

In [21]:
orders_products_combined.head(3)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both
1,2398795,1.0,2.0,3.0,7.0,15.0,10258.0,2.0,0.0,both
2,2398795,1.0,2.0,3.0,7.0,15.0,12427.0,3.0,1.0,both

## Step 5

In [22]:
# import a clean version of products data
products = pd.read_csv(os.path.join (path, 'Prepared Data', 'products_checked.csv'), index_col= None)

In [23]:
products.head(3)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5

In [24]:
# dropping 'Unnaimed:0' column
df_products = products.drop(products.columns[0], axis =1)

In [25]:
df_products.head(3)

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5

In [26]:
df_products.shape

(49672, 5)

In [28]:
# We want to add a product name to the 'df_orders_products_combined' data, so we will use product_id
#Inner join is a suitable form of merging, as the both data should contain the same 'product_id' data, that is connected with
# the 'product_name' data

orders_products_merged = orders_products_combined.merge(df_products, on = 'product_id', indicator = 'exists')

In [29]:
orders_products_merged.head(3)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists
0,2398795,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,Soda,77,7,9.0,both
1,473747,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,Soda,77,7,9.0,both
2,2254736,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,both,Soda,77,7,9.0,both

## Step 6

In [30]:
orders_products_merged['exists'].value_counts()

both          32404859
left_only            0
right_only           0
Name: exists, dtype: int64

## Step 7

In [32]:
orders_products_merged.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_merged.pkl'))

In [33]:
orders_products_merged.shape

(32404859, 15)