# Task 4.6 Combining & Exporting Data
# Step 1-2

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## Importing DataFrames

In [2]:
# Defining path
path = r'C:\Users\RUZANNA\OneDrive\Desktop\Careerfoundry\Python\Instacart Basket Anlysis-05.2023\02_Data'

In [3]:
# Importing Orders Dataframe
df_ords = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_checked.csv' ), index_col= False)

In [4]:
# Importing Products Dataframe
df_prods = pd.read_csv(os.path.join(path,'Prepared Data', 'products_checked.csv' ))

In [5]:
# Importing df_ords_prior Dataframe
df_ords_prior = pd.read_csv(os.path.join(path, 'Original Data', 'order_products_prior', 'order_products__prior.csv'), index_col = False)

In [6]:
# Checking the dimensions of products_checked
df_prods.shape

(49672, 6)

In [7]:
# Checking the dimensions of df_ords_prior Dataframe
df_ords_prior.shape

(32434489, 4)

In [8]:
df_ords_prior.head(3)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0

In [9]:
#Checking the dimensions of df_ords dataframe
df_ords.shape

(3214874, 8)

In [10]:
df_ords.head(3)

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,1,1,2398795,1,2,3,7,15.0
1,2,2,473747,1,3,3,12,21.0
2,3,3,2254736,1,4,4,7,29.0

In [11]:
#Drop 'Unnamed:0.1' columns
df_ords_1 = df_ords.drop(df_ords.columns[0],  axis =1)
df_ords_1.head(3)

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,1,2398795,1,2,3,7,15.0
1,2,473747,1,3,3,12,21.0
2,3,2254736,1,4,4,7,29.0

In [12]:
# Drop 'Unnamed: 0' column
df_ords =  df_ords_1.drop(df_ords_1.columns[0],  axis =1)
df_ords.head(3)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2398795,1,2,3,7,15.0
1,473747,1,3,3,12,21.0
2,2254736,1,4,4,7,29.0

## Dealing with Memory Errors
## Reducing Memory used

In [13]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3214874 entries, 0 to 3214873
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 147.2 MB

In [14]:
df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['orders_day_of_week']=df_ords['orders_day_of_week'].astype('int8')
df_ords['order_hour_of_day']=df_ords['order_hour_of_day'].astype('int8')
df_ords['days_since_prior_order']=df_ords['days_since_prior_order'].astype('float16')

In [15]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [16]:
df_ords_prior['product_id'] =df_ords_prior['product_id'].astype('int32')
df_ords_prior['reordered']=df_ords_prior['reordered'].astype('int8')
df_ords_prior['add_to_cart_order']=df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['order_id']=df_ords_prior['order_id'].astype('int32')

## Merging dataframes: df_ords with df_ords_prior

In [17]:
df_merged_large_inner = df_ords_prior.merge(df_ords, on ='order_id', indicator = True)

In [18]:
#checking the dimensions of a new merged dataframe
df_merged_large_inner.shape

(30356421, 10)

In [19]:
df_merged_large_inner.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,_merge
0,2,33120,1,1,202279,3,5,9,8.0,both
1,2,28985,2,1,202279,3,5,9,8.0,both
2,2,9327,3,0,202279,3,5,9,8.0,both
3,2,45918,4,1,202279,3,5,9,8.0,both
4,2,30035,5,0,202279,3,5,9,8.0,both

In [20]:
df_merged_large_inner['_merge'].value_counts()

both          30356421
left_only            0
right_only           0
Name: _merge, dtype: int64

In [ ]:
df_merged_large = df_ords.merge(df_ords_prior, on ='order_id', how = 'outer', indicator = True)

In [22]:
df_merged_large.head(3)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both
1,2398795,1.0,2.0,3.0,7.0,15.0,10258.0,2.0,0.0,both
2,2398795,1.0,2.0,3.0,7.0,15.0,12427.0,3.0,1.0,both

In [24]:
df_merged_large.shape

(32640698, 10)

In [23]:
df_merged_large['_merge'].value_counts()

both          30356421
right_only     2078068
left_only       206209
Name: _merge, dtype: int64

# Exporting Data in Pickle Format

## Export Data to pickle

In [25]:
df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

In [26]:
df_merged_large.shape

(32640698, 10)